.panel-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
}

.list-panel {
    padding: 16px 0 0 16px;
    background-color: rgb(235, 233, 233);
}

.project {
    display: flex;
}

.new-project-button,
.new-todo-button {
    margin: 16px 0 32px 0;
}

.main-panel {
    padding: 16px 0 0 48px;
}

.new-todo {
    display: flex;
    margin-bottom: 16px;

    border-top-style: solid;
    border-top-color: rgb(235, 233, 233);
    border-bottom-style: solid;
    border-bottom-color: rgb(235, 233, 233);
}

.todo {
    display: flex;
    flex-direction: column;
}